.example-card{
  width: 100%;
  margin: 5px;
  align-items: center;
}

img{
  width: 150px;
  height: 150px;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 65%;
}

.container{
  width: 50%;
  display: flex;
}

.divider{
  width: 35%;
}

.root{
  display: flex;
  flex-direction: row-reverse;
}