<mat-card class="about-card">
  <mat-card-content class="content">
    <p class="about-text">{{ description }}</p>
    <h2 class="about-text">{{ githubTitle }}</h2>
    <p class="about-text">{{ github }}</p>
    <div class="container-sub">
      <mat-card class="sub-about-card">
        <mat-card-content class="sub-content">
          <img
        
        src="assets/github/vivianavf.jpeg"
        alt="vivianavf"
      />
          <p class="about-text">{{ viviana }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="sub-about-card">
        <mat-card-content class="sub-content">
          <img
        
        src="assets/github/alenocot.png"
        alt="alenocot"
      />
          <p class="about-text">{{ alejandra }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
